{{ define "main" }}

  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          <img src="img/Services_ESCAPE_OSSR-01.png" alt="ESCAPE OSSR">
          <br />
          <br />

        {{ if .Site.Params.searchEngines }}
            {{ range .Site.Params.searchEngines }}
                {{ if .activated }}
                    <form id="search-form-{{ .name }}" class="mb-3" action="{{ .url }}" method="get">
                        <input id="search-bar-{{ .name }}" class="form-control" type="text" autofocus type="text" placeholder="Search {{ .name }}" name="q" alt="Search {{ .name }}" onkeydown="if(event.keyCode === 13) { this.form.submit(); return false; }">
                    </form>
                {{ end }}
            {{ end }}
        {{ end }}

        <br />
        <br />

        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}


        {{ if .Site.Params.startPageColumns }}
            <div id="groupList" class="card-deck mt-3">
                {{ range .Site.Data.links }}
                    <div id="groupListEntry" class="card">
                        <div class="card-body">
                            <h5 class="card-title groupTitle">{{ .group }}</h5>
                            <ul class="list-group list-group-flush groupListList">
                                {{ range .items }}
                                    <li class="list-group-item groupListListItem"><a href="{{ .url }}" target="_self" class="groupLink"><i class="{{ .icon }}"></i>&nbsp;<span class="groupText">{{ .title | safeHTML }}</span></a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ else }}
            <div id="iconList" class="card-columns mt-3">
                {{ range .Site.Data.links }}
                    {{ range .items }}
                        <div id="iconListEntry" class="card">
                            <div class="card-body cursorPointer" onclick="location.href = '{{ .url }}'">
                                <p class="card-text"><a href="{{ .url }}" target="_self" class="iconLink"><i class="fa-5x {{ .icon }}"></i></a></p>
                                <p class="card-text"><a href="{{ .url }}" target="_self" class="iconLink">{{ .title | safeHTML }}</a></p>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}


        <!-- <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
          {{ range $pag.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}
              </a>

              {{ partial "post_meta.html" . }}
              <div class="post-entry">
                {{ if .Truncated }}
                  {{ .Summary }}
                  <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                {{ else }}
                  {{ .Content }}
                {{ end }}
              </div>

              {{ if .Params.tags }}
                <span class="post-meta">
                {{ range .Params.tags }}
                  #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
                {{ end }}
                </span>
              {{ end }}
            </article>
          {{ end }}
        </div> -->

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
